<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"> Board of Directors  </h4>
  <div>
    <dl class="row">
      <dt class="col-sm-3  ">President</dt>
      <dd class="col-sm-4">Mitch Mazzone</dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-3">Vice President</dt>
      <dd class="col-sm-4">Brian Hickey</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">Treasurer</dt>
      <dd class="col-sm-4">Sue Pitacorra, CPA</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">Secretary</dt>
      <dd class="col-sm-4">Kathy Johns</dd>
    </dl>
    <br />
    <h4 class="alert-heading"> Volunteer Staff  </h4>
    <dl class="row">
      <dt class="col-sm-3  ">Coordinator</dt>
      <dd class="col-sm-4">Dave Evans</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">IT / Web Developmnet</dt>
      <dd class="col-sm-4">Paul Zemgulys</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">Pavilion Architect</dt>
      <dd class="col-sm-4">Jeannette Graziano</dd>
    </dl>


  </div>



</div>


