<div>
  <label style="font-weight:500">Coach Brian Hickey, Div I Player, at Valparaiso University</label><br />
  <img src="assets/images/history/ws4bbrianhickey.png" alt="homepage" class="dark-logo" rotate="90">
</div>
<br /><br />

<div>
  <label style="font-weight:500"></label><br />
  <img src="assets/images/history/ws1.jpg" alt="homepage" class="dark-logo" rotate="90">
</div>
<br /><br />
<div>
  <label style="font-weight:500"></label><br />
  <img src="assets/images/history/ws2.jpg" alt="homepage" class="dark-logo">
</div>
<br /><br />

<div>
  <label style="font-weight:500"></label><br />
  <img src="assets/images/history/ws3.jpg" alt="homepage" class="dark-logo" rotate="90">
</div>
<br /><br />
